@keyframes rotate-animation {
  0% {
    transform: rotateZ(120deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
}

.solid-logo {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  margin: auto;
  width: 410px;
  opacity: 1;
  z-index: 1;
  animation: rotate-animation 2s ease-in-out 1s forwards;
}

@media only screen and (max-width: 600px) {
  .solid-logo {
    display: none;
  }
  .logo-container {
    display: none;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .solid-logo {
    width: 100px; /* Decrease the width for smaller screens in landscape mode */
    left: 50%;
  }
}
